{% extends 'baseFreelancer.html.twig' %}
{#{% block content %}#}
{% block content %}
  <br><br><br><br><br><br><br><br><br>
  <center><h1 style="bold">Félicitation vous faites désormais partie de cette formation</h1></center>
  <center><a href="{{ path('accueilF') }}" class="button large-button">back</a></center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}






