{% extends 'baseFreelancer.html.twig' %}

    {% block content %}


        <!--Start of Slider Area-->
        {% block slider %}
            <div class="slider-area">
                <div class="preview-2">
                    <div id="nivoslider" class="slides">
                        <img src="{{ asset('template/images/slider/1.jpg') }}" alt="" title="#slider-1-caption1"/>
                        <img src="{{ asset ('template/images/slider/2.jpg') }}" alt="" title="#slider-1-caption2"/>
                    </div>
                    <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                        <div class="banner-content slider-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content-wrapper">
                                            <div class="text-content">
                                                <h1 class="title1 wow bounceInDown text-uppercase text-white mb-16" data-wow-duration="5s" data-wow-delay="1s">WELCOME FREELANCER !</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                        <div class="banner-content slider-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content-wrapper">
                                            <div class="text-content slide-2">
                                                <h1 class="title1 wow bounceInDown text-uppercase text-white mb-16" data-wow-duration="5s" data-wow-delay="1s">WELCOME FREELANCER !</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Slider Area-->
        {% endblock slider %}


    {% endblock %}


