{% extends 'baseFreelancer.html.twig' %}
{#{% block content %}#}
{% block content %}
  <br><br><br><br><br><br><br><br><br>
  <center><h1 style="bold">Congrats ! Your are now subscribed at this training !</h1></center>
  <center><a href="{{ path('accueilF') }}" class="button large-button" style="color: white">back</a></center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}






