{% extends 'baseAdmin.html.twig' %}
{%  block body %}
    <table>
  <h4>Category</h4>
<table>
{{ form_start(f) }}
    {{ form_widget(f) }}
{{ form_end(f) }}</br>
    </table>
    </table>
{% endblock %}