{% extends 'baseFreelancer.html.twig' %}
{% block content %}


<br>
    <centre><table><tr><td><h1>List of the formations i have participated to</h1></td></tr></table></centre>
    <br><br><br><br>
<center>
    {% for entity in list   %}
        <table>

        <tr>
            <td style="font-weight: bold">{{ entity.Titre }}</td>
            <td><a href="{{ path('annuler',{'id':entity.id()}) }}" class="button large-button" style="color: white">Cancel</a></td>
        </tr>

        </table>
    {% endfor %}
</center>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}