{% extends 'baseClient.html.twig' %}
{% block content %}
    <centre>
    <table>

        <tr><td><h1>List des Participants</h1></td></tr></table></centre>


        <table>

        <tr><td style="font-weight: bold">{{ nom }}</td></tr>
        </table>



{% endblock %}