{% extends 'baseAdmin.html.twig' %}

    {% block body %}
        <!-- Breadcrumbs-->
        <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="http://localhost/SmartStart_test/web/app_dev.php/AccueilAdmin">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>


            <h6>Username : </h6><h2>{{ app.user.username }}</h2></br>
            <h6>Last Name : </h6><h2>{{ app.user.nom }}</h2></br></br>
            <h6>First Name : </h6><h2>{{ app.user.prenom }}</h2></br></br>
            <h6>Your Email : </h6><h2>{{ app.user.email }}</h2></br></br>





            {% endblock %}


