{% extends 'base1.html.twig' %}
{% block body%}

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>

                        <th>Categorie</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>

                        <th>Categorie</th>

                    </tr>
                    </tfoot>

                    {% for entity in Categoriereclamation %}
                        <tr>

                            <td>{{ entity.Categorier }}</td>
                            <td> <a href="{{ path('deleter',{'id':entity.id}) }}"><button>Supprimer</button></a> </td>
                            <td> <a href="{{ path('editr',{'id':entity.id}) }}"><button>Modifier</button></a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <td> <a href="{{ path('Addr') }}"><button>Ajouter</button></a> </td>

            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    </div>
{% endblock %}