{% extends 'base1.html.twig' %}
{%  block body %}
    <table>
 <td><h3>Categorie</h3></td>

        {{ form_start(f) }}
    {{ form_widget(f) }}
{{ form_end(f) }}</br>
    </table>

{% endblock %}