{% extends 'base1.html.twig' %}
{%  block body %}
    <table>
        <tr>
            <h3>Modifier Categorie</h3>
            </tr>

{{ form_start(f) }}
   <tr>
       <td>Categorie:*  </td>
       <td> {{ form_widget(f.categorier) }}</td>
   </tr>
  <tr> <td>{{ form_widget(f.save) }}</td></tr>
        {{ form_end(f) }}</br>

    </table>
{% endblock %}