{%  extends 'baseClient.html.twig' %}

{% block title %}SmartBundle:Security:add{% endblock %}

{% block content %}
    {%  if app.user.TypeUser == "Client"%}
    <h1 class="text-center" style="margin: 20px">Welcome to Client</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <td scope="col">username</td>
            <td scope="col">email</td>
        </tr>
        </thead>
        <tbody>
        {% for freelancer in free %}
            {% if freelancer.typeuser == 'freelancer' and freelancer.etat == 'valide' %}
                {% for role in freelancer.roles %}
                    {% if role != 'ROLE_ADMIN' %}
                        <tr>
                            <td>{{ freelancer.username}}</td>
                            <td>{{ freelancer.email}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a  href ="{{ path('smart_showfeed')}}"><button style="color: white; margin-left: 614px; margin-top: 20px" >Feedback</button> </a>
    {% else %}

        <h1 class="text-center" style="margin: 20px">Welcome to Freelaner</h1>


    {% endif %}



{% endblock %}










