/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 févr. 2017, 15:36:52
    Author     : MohamedKhyari
*/

.Image-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#36454f;
    -fx-graphic: url("../images/image.png");
    -fx-background-radius: 2 2 2 2;
}

.Image-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#a32020;
    -fx-graphic: url("../images/image.png");
    -fx-background-radius: 2 2 2 2;
}
.Video-button{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#36454f;
    -fx-graphic: url("../images/video-icone.png");
    -fx-background-radius: 2 2 2 2;
}

.Video-button:hover{
    -fx-padding: 0 0 0 0;
    -fx-background-color:#a32020;
    -fx-graphic: url("../images/video-icone.png");
    -fx-background-radius: 2 2 2 2;
}
.Ajouter-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ajouter-icone-6782-16");
}

.Ajouter-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    -fx-graphic:url("../images/ajouter-icone-6782-16");
        -fx-effect:dropshadow( three-pass-box , #3272da , 8, 0.5 , 0 , 0);
}
.Annuler-button{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
  
}

.Annuler-button:hover{
    -fx-background-radius:0px;
    -fx-background-color:white;
    -fx-border-color:gray;
    -fx-border-width:2px;
    -fx-background-insets:-1px;
    
        -fx-effect:dropshadow( three-pass-box , #3272da , 8, 0.5 , 0 , 0);
}
.gridadd-pane{
    -fx-background-image:url("../images/5.jpg");
    -fx-background-size:cover; 
}