{% extends 'base2.html.twig' %}

    {% block body %}

        <h1> Add a new skill </h1></br>
        {{ form_start(f) }}</br></br></br></br>
        {{ form_end(f) }}</br></br></br>

    {% endblock %}


