{% extends 'base.html.twig' %}

    {% block content %}

        <h1> My Profile </h1></br>
        Title :* <h>{{ Email }}</h> <br>
        Skills :* <h>{{ idSkill.Skill }}</h> <br>

    {% endblock %}


